body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://img.freepik.com/fotos-premium/grande-conjunto-de-ferramentas-de-barbeiro-preto-profissional-conceito-de-cabeleireiro-de-barbearia_275559-24793.jpg?w=950);
    background-size: contain; /* Mudei para 'cover' para garantir que cubra toda a tela */
    background-repeat: no-repeat;
    overflow: hidden;
}

.section-teste{
    position: absolute;
    z-index: 100;
    width: 100%;
    max-width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

.section-teste .logo-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    transition: background-color 3s ease-in-out;
}

.section-teste .bem-vindo {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-100vh);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.section-teste .bem-vindo-animado {
    opacity: 1;
    transform: translateY(0);
}

.section-teste .bem-vindo-saindo {
    transform: translateX(100vw);
    transition: transform 2s ease-in-out;
}

.section-teste .logo {
    width: 150px;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 2s ease-out, opacity 2s ease-out;
}

.section-teste .logo-animada {
    opacity: 1;
    transform: translateX(0);
}

.conteudo {
    text-align: center;
    padding: 50px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.conteudo.revelando {
    opacity: 1;
}

.logo-container.revelar-fundo {
    background-color: #f4f4f4;
}


/* Home */
.HOME header ul {
    background-color: black;
    color: #ED8B00;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    list-style: none;
    padding: 15px;
    margin: -8px;
    font-family: 'SUSE', sans-serif;
}

#instagram {
    position: absolute;
}

#lg-pr {
    position: absolute;
    left: 150px;
    top: 200px;
}

#logo_1 {
    margin-left: 705px;
    margin-top: 160px;
}

section .logo_1 #text_titulo {
    font-family: 'ITC Benguiat Std', sans-serif;
    color: #ED8B00;
    font-size: 70px;
    top: 281px;
    left: 655px;
    position: absolute;
    text-align: center;
    letter-spacing: 5px;
    line-height: 60px;
}

.cabecalho-agenda {
    background-color: black;
    color: #ED8B00;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    list-style: none;
    padding: 15px;
    margin: -8px;
    font-family: 'SUSE', sans-serif;
}

header ul li a {
    color: #ED8B00;
    transition: 0.80 ease;
    text-decoration: none;
}

header ul li a:hover {
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.secao-conversao {
    background: rgb(255, 255, 255);
    background: linear-gradient(181deg, rgba(255, 255, 255, 1) 75%, rgba(0, 0, 0, 1) 100%);
    margin: -8px;
    margin-top: -18px;
}

#titulo-3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#text-lr {
    color: #ED8B00;
}









/* Seção Agenda */
.AGENDA {
    color: white;
    margin: -8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagens/black-notebook-black-cup-coffee-black-pencil-black-background_44344-2332.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-2 {
    padding-right: 10px;
    font-size: 45px;
}

.lg-bt {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(260deg, rgba(0, 0, 0, 1) 41%, rgba(255, 0, 0, 1) 100%);
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 530px;
    padding: 260px 320px;
    box-shadow: 0 0 15px rgba(255, 251, 251, 0.1);
}

#icone-whatsapp {
    position: absolute;
    top: 1280px;
    margin-left: 150px;
}

/* Tela de Agendamento */
#available-times {
    position: absolute;
    left: 650px;
    padding-top: 160px;
}

.form-agendamento {
    font-size: 20px;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

input,
textarea {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
}

input[type="date"] {
    position: relative;
    z-index: 1000;
}

input[type="time"] {
    position: relative;
    z-index: 10;
}

#info-whatapp {
    position: absolute;
    bottom: 350px;
    background-color: #f9f9f9;
    color: #000;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

#nome-agenda {
    padding: 10px;
    padding-right: 100px;
    border-radius: 5px;
    border: 2px solid #000000;
}

#bt-agenda {
    position: absolute;
    left: 940px;
    margin-top: 213px;
    background-color: #ED8B00;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: pulsar 1s infinite;
}

#bt-agenda:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 15px rgba(255, 251, 251, 0.1);
}

.calendario-pai {
    display: flex;
}

.calendario {
    position: absolute;
    background-color: #FF8C00;
    margin-top: 30px;
    margin-left: 800px;
    padding: 230px 190px;
}

#bt-agenda2 {
    position: absolute;
    margin-top: 10px;
    left: 10px;
    background-color: #070605;
    border: none;
    cursor: pointer;
}

#calendar-container {
    display: none;
}

#barbericon {
    display: inline-block;
    position: absolute;
    left: 962px;
    top: 1370px;
    transform: rotate(-1deg);
}

#text-calendario {
    position: relative;
    text-align: center;
    right: 470px;
}

/* Tela de Login */
#login-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#login-screen label {
    display: block;
    margin-bottom: 10px;
}

/* Tela de Configuração do Calendário */
#setup {
    display: none;
    background-color: #FF8C00;
    padding: 10px;
    color: #000;
    position: relative;
    z-index: 10;
}

#calendar.selected {
    background-color: green;
    /* Cor verde para dias selecionados */
    color: white;
}

#page-title {
    display: flex;
    justify-content: center;
}

/* Configurações adicionais do calendário */
#days-container {
    margin: 10px 0;
}

#days {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.day {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.day.selected {
    background-color: red;
    color: white;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

#calendar div {
    padding: 10px;
    background-color: #dbdbdb;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

#calendar div.selected {
    background-color: red;
    color: rgb(255, 255, 255);
}

#time-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#time-options input {
    width: 100px;
}

.config-agend {
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 10px;
}

/* Estilo da tabela */
.cd-lg-bt {
    position: absolute;
    font-size: 15px;
    top: 1520px;
    left: 80px;
    transition: background-color 0.3s ease;
}

table {
    border-collapse: collapse;
}

table tr th {
    border: 1px solid #494343;
    color: black;
}

th {
    background-color: #e6e6e6;
    padding: 10px;
}

td {
    padding: 15px;
    text-align: center;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000;
}

table thead tr {
    margin-right: 10px;
}

tbody {
    position: absolute;
    margin-top: 28px;
    right: 936px;
    padding: 10px;
    background-clip: border-box;
    background-clip: padding-box;
    background-clip: content-box;
    background-color: #e6e6e6;
}





















/* Seção de localização */

.localizacao {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagens/Home\ Agenda\ Sobre\ mim\ Barbearia\ \(1\).png);
    background-size: cover;
    background-position: center;
    margin: -8px;
    margin-top: -18px;
    overflow: hidden;
}
.linha-mod{
    margin: 0;
    padding: 0;
}

.loc {
    display: flex;
}

.loc-img-text {
    position: absolute;
    padding-top: 150px;
    padding-left: 240px;
}

#titulo-loc {
    color: white;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.bt-click {
    position: relative;
    display: inline-block;
    padding-top: 30px;
}

.loc-img-bt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-left: 800px;
}

#img-slide {
    position: relative;
    overflow: hidden;
    right: -100%;
    opacity: 0;
    transition: all 0.5s ease-out;
}

#bt-loc {
    background-color: #ED8B00;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 1px solid black;
    padding: 18px 50px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
    animation: pulsar 1s infinite;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#bt-loc:hover {
    background-color: #000000;
    color: white;
}

#click {
    position: absolute;
    left: 200px;
    right: 1%;
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;
    animation: pulsar 1s infinite;
}

/* Feedback */

.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    margin: -8px;
    background-color: #f4f4f4;
}

.fed {
    text-align: center;
}

.feedback-carousel {
    display: flex;
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    position: relative;
    height: 200px;
}

.feedback-card {
    background-color: #1c4881;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    flex-shrink: 0;
    margin: 5px;
    cursor: pointer;
}

.feedback-card.selected {
    border: 2px solid #FFD700;
}

.stars {
    font-size: 20px;
    color: #ffcc00;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.name {
    margin-top: 10px;
}

.add-feedback-button {
    background-color: #FFA500;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;
}

.add-feedback-button:hover {
    background-color: #FF8C00;
}

.delete-feedback-button {
    position: absolute;
    margin-bottom: 450px;
    margin-left: 1200px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    opacity: 20%;
}



/* Formulário para adicionar feedback */
#feedback-form,
#admin-password {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback-form.hidden,
#admin-password.hidden {
    display: none;
}

#feedback-form textarea,
#feedback-form input,
#feedback-form select,
#admin-password input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

#feedback-form button,
#admin-password button {
    background-color: #8B4513;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#feedback-form button:hover,
#admin-password button:hover {
    background-color: #A0522D;
}


/* botao rola pra cima */

#scrollToTopBtn {
    background-color: #31313100;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    bottom: 20px;
    right: 30px;

}

#scrollToTopBtn:hover {
    background-color: rgb(155, 155, 155);
}